*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --text-color: white ;
    --tex-color2: rgba(255, 255, 255, 0.247);
    --bg-url: url(/nui/image/bg-mobile.jpg) ;
    --switch-bgl-url: url(/nui/image/MoonStars.svg);
}

.light {
    --text-color: rgb(0, 0, 0) ;
    --tex-color2: rgba(0, 0, 0, 0.247);
    --bg-url: url(/nui/image/bg-mobile-light.jpg) ;
    --switch-bgl-url: url(/nui/image/Sun.svg);
}

body{
    /* background-image: url(/nui/image/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background:
        var(--bg-url)
        no-repeat
        top
        center/cover
    ;
    transition: 1.0s;
}
body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container {
    /* border: 1px solid rgba(0, 0, 0, 0.726); */
    width: 360px;
    margin: auto;
    margin-top: 56px;
    padding: 0 24px;
}

/* profile */

#profile{
    text-align: center;
    padding: 24px;
}
#profile img{
    width: 112px;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
    margin: 10px;
}


/* switch */


#switch{
    /* border: 1px solid green; */
    position: relative;
    width: 64px;
    height: 24px;
    margin: 10px auto;
    top: 10px;
    
}



#switch button{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 0px;

    background: 
        rgb(255, 255, 255) 
        var(--switch-bgl-url)
        no-repeat
        center
    ;
    /* border: 1px solid black; */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
   
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background-color: var(--tex-color2);
    border: 1px solid var(--text-color);
    border-radius: 9999px;

}
#switch button:hover {
    cursor: pointer;
    
}

.light #switch button {
    right: 0;
    left: initial;
    
    
}


/* lincks */

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0;
}
ul li a{
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 10px;
    border: 1px solid var(--text-color);
    /* margin: 16px; */
    display: flex;
    height: 50px;
    align-items: center; /* alinha um item em uma linha imaginaria no centro do seu obeto no eixo X */
    justify-content: center; /* alinha um item em uma linha imaginaria no centro do seu objeto no eixo Y */
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.5s;
}
ul li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
#social-links{
    display: flex;
    /* gap: 32px; */
    padding: 24px 0;
    font-size: 24px;
    justify-content: center;
}

#social-links a {
    display: flex;
    padding: 16px;
    align-items: center; /* alinha um item em uma linha imaginaria no centro do seu obeto no eixo X */
    justify-content: center; /* alinha um item em uma linha imaginaria no centro do seu objeto no eixo Y */

}

#social-links a:hover{
    transition: background 0.2s;
    background-color: var(--tex-color2);
    border-radius: 50%;
    /* border: solid 1px; */
}



